<!DOCTYPE html>
<html ng-app="grubbring">
<head>
    <base href="/">

    <title>Welcome to Grubbring!</title>
    

    <title>Grubbring</title>


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/fullpage.js/jquery.fullPage.css">
     <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    
    <link rel="stylesheet" href="css/style.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    
    
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/fullpage.js/jquery.fullPage.min.js"></script>

    <!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fullpage.js/jquery.fullPage.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <!--<script src="js/controllers/LoginCtrl.js"></script>-->
    <!--<script src="js/controllers/ProfileCtrl.js"></script>-->
    <!--<script src="js/controllers/ConfirmCodeEmailCtrl.js"></script>-->
    <!--<script src="js/controllers/RegistrationCtrl.js"></script>-->
    <!--<script src="js/controllers/DashboardCtrl.js"></script>-->
    <!--<script src="js/controllers/findRingsCtrl.js"></script>-->
    <!--<script src="js/controllers/ConfirmationCtrl.js"></script>-->
    <!--<script src="js/controllers/TemplateCtrl.js"></script>-->
    <!--<script src="js/controllers/BeginPasswordResetCtrl.js"></script>-->
    <!--<script src="js/controllers/ConfirmCodeResetCtrl.js"></script>-->
    <!--<script src="js/controllers/ResetPasswordCtrl.js"></script>-->

</head>
<body ng-controller="MainCtrl">
    <ng-view></ng-view>
</body>
</html>
