<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<form action="" method="post">
		<input type = "text" name="username">
		<input type = "password" name="password">
		<input type="submit" value="Log in">
	</form>
	
	<a href="/auth/facebook" ></span> Facebook</a>
	
</body>
</html>