<!DOCTYPE html>
<html>
<head>
	<title>Registration Confirmation Page</title>
</head>
<body>
	<form action="" method="post">
		<input type = "text" name="token" placeholder="Enter confirmation token">
		<input type="submit" value="Confirmation">
	</form>
</body>
</html>