html{
    min-height: 100%;
}
body{
    background-color:  #1ebd98;
    background: linear-gradient(#23B08F, #1ebd98);
}

/** start dashboard **/
.ringpanel-container {
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    left: 40%;
    top: 40%;
}

.dash-heading {
    padding-top: 75px;
    padding-bottom: 10px;
    text-align: center;
    font-family: verdana, sans-serif;
    color: white;
    font-size:200%;
}

.ringpanel-container .panel {
    box-shadow: 5px 5px 5px #888888;
}
/** end dashboard**/

/** Navigation bar styling (with hamburger menu, logo, and search bar) **/

nav{
    padding-left: 40px;
    padding-top: 40px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

nav img{
    left: 43%;
    position: fixed;
    top: 10px;
}

.nav-search-bar{
    left: 8%; 
    position: fixed;
    top: 20px;
}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #23B08F;
}
.search-box + label .search-icon {
  color: white;
}
.search-box:hover {
  color: white;
  background: #83E6CF;
  box-shadow: 0 0 0 5px #18856B;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 10px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: white;
  color: #1ebd98;
}
.search-box:focus + label .search-icon {
  color: #1ebd98;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -36px;
  top: 7px;
  color: white;
  cursor: pointer;
}

.glyphicon-search{
    font-size: 25px;
}

/** logo on login page **/

.logo{ 
  position: fixed;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  
  -webkit-filter: drop-shadow(2px 2px 2px #139C69);
  filter: drop-shadow(2px 2px 2px #139C69); 
}

/** login form inputs **/

.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #2A5247;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*** login form container and fields ***/
.login-form {
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form .form-group {
    margin-bottom: 5px;
}

.login-form .btn.btn-custom {
    font-size: 18px;
    font-weight: 500;
	margin-bottom: 20px;
}

.login-form p{
    color: #FFFFFF;
    font-family: sans-serif, helvetica;
    font-size: 18px;
    text-align: center;
}

.login-form p2{
    color: #FFFFFF;
    font-family: sans-serif, helvetica;
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
}

.login-form p a{
    font-family: sans-serif, helvetica;
    font-size: 18px;
    text-align: center;
    color: #416155;
}

.login-form p a:hover{
    text-decoration: none;
    color: #53F5BA;
}

#username, #password{
    padding-right: 80px;
    font-size: 18px;
    font-weight: 200;
    height: 45px;
}

/** Login page footer styling **/

.login-form-footer{
    bottom: 0;
    left: 41%;
    position: fixed;
}

.login-form-footer p a{
    display: inline-block;
    font-family: sans-serif, helvetica;
    font-size: 17px;
    color: #ffffff;
    margin-right: 15px;
    
}

.login-form-footer p a:hover{
    text-decoration: none;
    color: #416155;
}

/*** styling for login slider pages ***/

#section1 img, #section2 img, #section3 img{
 left: 45%;
 position: relative;
}

#section1 h1, #section2 h1, #section3 h1{
    font-family: sans-serif, helvetica;
    font-size: 4em;
    text-align: center;
}

/*** styling for header on registration and conformation page ***/

.reg-page-header{
    background-color: #1ebd98;
}

.conf-page-header{
    background-color: #1ebd98;
}

.reg-page-header h2{
    font-family: sans-serif, helvetica;
    font-size: 4em;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}

.reg-page-header h1{
    font-family: sans-serif, helvetica;
    font-size: 10em;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-bottom: 100px;
}

.conf-page-header h2{
    font-family: sans-serif, helvetica;
    font-size: 4em;
    color: #fff;
    font-weight: 100;
    padding-left: 25px;
}

.conf-page-header h1{
    font-family: sans-serif, helvetica;
    font-size: 9em;
    color: #fff;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
}


/*** styling for registration form ***/

.reg-page-form{
     width: 400px; 
     display: block; 
     background: #fff; 
     margin: 0 auto;
     padding-bottom: 30px;
}

.reg-page-body p{
    font-family: sans-serif, helvetica;
    font-size: 17px;
    color: #1ebd98;
    font-weight: 100;
}
.reg-page-body{
    background-color: #fff;
}


.reg-page-form .form-control{
    color: #212121;
    font-size: 16px;
}

.reg-page-form .form-group {
    margin-bottom: 5px;
}

.reg-page-form .btn-custom {
    color: #fff;
	background-color: #1ebd98;
}

.reg-page-body h3{
    font-family: sans-serif, helvetica;
    font-size: 2em;
    color: #1ebd98;
    text-align: center;
    padding-top: 30px;
    font-weight: 100;
}

/*** styling for confirmation page ***/

.conf-page-body{
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 30px;
}

.conf-page-body h3{
     font-family: sans-serif, helvetica;
    font-size: 2em;
    color: #1ebd98;
    font-weight: 100;
    text-align: center;
}

.conf-page-body p{
    font-family: sans-serif, helvetica;
    font-size: 17px;
    color: #1ebd98;
    font-weight: 100;
}

.panel-green {
    border: none;
}

.panel-green .panel-heading {
    background-color: #168A6F;
    color: white;
}

.btn.btn-green {
    background-color: #168A6F;
    color: white;
}

.password-reset-form {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:35%;
}

.password-reset h2 {
    font-family: sans-serif, helvetica;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: 100;
}

.password-reset p {
    font-family: sans-serif, helvetica;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: 100;
}

.password-reset p2 {
    font-family: sans-serif, helvetica;
    font-size: 18px;
    color: white;
    text-align: left;
    padding-top: 30px;
    font-weight: 100;
}


#profile .control-label {
    font-weight: normal;
}

#profile .control-label span {
    color: red;
}

#profile h3 {
    color: white;
}
