<div class="container">
    <h3 class="text-center">Create Activity</h3>
    <form ng-submit="createActivity()">
        <div class="form-group">
            <!-- Following /createActivity API-->
            <!-- TODO should be removed; use req.user on backend for currentUser-->
            <label>User Id</label>
            <input type="number" ng-model="userId" class="form-control" placeholder="e.g. 1" required>
        </div>
        <div class="form-group">
            <!-- TODO ring id should be in params or defined somewhere-->
            <label>Ring Id</label>
            <input type="number" ng-model="ringId" class="form-control" placeholder="e.g. 1" required>
        </div>
        <div class="form-group">
            <!-- TODO bringer User Id should be connected to ring or something-->
            <label>Bringer User ID</label>
            <input type="text" ng-model="bringerUserId" class="form-control" placeholder="e.g. 1" required>
        </div>
        <div class="form-group">
            <label>Max Number of Orders</label>
            <input type="text" ng-model="maxNumOrders" class="form-control" placeholder="e.g. 5" required>
        </div>
        <div class="form-group">
            <!-- TODO replace with dropdown of grubberies?-->
            <label>Grubbery Id</label>
            <input type="text" ng-model="grubberyId" class="form-control" placeholder="e.g. 1" required>
        </div>
        <div class="form-group">
            <label>Deadline for orders</label>
            <input type="datetime-local" ng-model="lastOrderDateTime" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-green">Create Activity</button>
    </form>
</div>