<form ng-submit="createActivity()">
    <div class="form-group">
        <input type="text" ng-model="ringId" class="form-control">
        <input type="text" ng-model="bringerUserId" class="form-control">
        <input type="text" ng-model="maxNumOrders" class="form-control">
        <input type="text" ng-model="grubberyId" class="form-control">
        <input type="text" ng-model="lastOrderDateTime" class="form-control">
    </div>
    <button type="submit" class="btn btn-green">Create Activity</button>
</form>
                    


