<div class="reg-page-header-shadow">
<div class="conf-page-header">
	<h1>You're Almost There!</h1>
</div>
</div>

<div class="conf-page-body">
	<h3>Congratulations and welcome to Grubbring!</h3>
	<h3>Before you can access your account, you should have received a confirmation e-mail<br/>
	or text message with a unique secure access code. </h3>
	<h3>Please enter the code below to complete the registration process.</h3>
	<br/>
		<form ng-submit="submit()" class="reg-page-form">
		<div class="form-group">
	    <input type = "text" name="confirmation" placeholder="Enter code..." ng-model="confirmation" class="form-control"></p>
	    </div>
	    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Submit">
		</form>
</div>