<div class="password-reset">
   <h2>{{headerMsg}}</h2>
    <p>{{dirMsg}}</p>
    <div class="password-reset-form" id="password-reset-form">
        <form ng-submit="submit()" id="password-reset-form" class="resetform">
            <div class="form-group">
                <input type="text" name="accessCode" id="accessCode" ng-model="accessCode" class="form-control" placeholder="">
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" ng-disabled="isSubmitDisabled" value="Submit">
        </form>
    </div>
</div>