<div class="reg-page-header">


<!-- will add dynamic data in soon-->

<div class="ringpanel-container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#ringpanel1">ringname</a>
          <p>Last Activity: just now</p>
        </h4>
      </div>
      <div id="ringpanel1" class="panel-collapse collapse">
        <div class="panel-body">ring description</div>
      </div>
    </div>
  </div>
</div>    
</div>