<div class="reg-page-header">


<!-- will add relevant dynamic data in soon; need to create unique ids for each panel to work independently-->
<div class="ringpanel-container" ng-controller="DashboardCtrl as dash">
  <div class="panel-group" ng-repeat="ring in dash.rings">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div data-toggle="collapse" data-target="#ring-desc">{{ ring.name }}</div>
          <p>Last Activity: just now</p>
        </h4>
      </div>
      <div id="ring-desc" class="panel-collapse collapse">
        <div class="panel-body">{{ ring.desc }}</div>
      </div>
    </div>
    
  </div>
</div>    
</div>
