<!--
Explanation of {{::$id}}
http://stackoverflow.com/questions/21021951/directive-template-unique-ids-for-elements
-->

<header class="cd-main-header">
  
  <div class="container main">
    <div class="container header">
      <div class="row">
        <div class="menu col-md-4">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"  data-toggle="dropdown" aria-haspopup="true"></span>
              <ul class="dropdown-menu">
                  <li><a href="#">My Rings</a></li>
                  <li><a href="#">Activities</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logout</a></li>
              </ul>
        </div>
        <div class="dashboard-search col-md-8 col-md-offset-4">
          <div class="cd-search is-hidden">
				    <input type="search" ng-model="searchText" ng-change="onSearchTextChanged()" placeholder="Search..."> 
				    </div>
				    <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="isLocationEntryOpen = !isLocationEntryOpen" style="float:right;"></span>

            <div class="location-search-container">
                <div class="panel panel-default" ng-show="isLocationEntryOpen">
                  <div class="panel-body">
                    <div class="input-group">
                     <input type="text" class="form-control" ng-change="onLocationTextChanged()" placeholder="Enter city and state or zipcode" id="input-zip-textbox" ng-model="searchLocationText">
                    </div>
                    <div class="search-location-results">
                      <ul>
                        <li data-ng-repeat="location in locations | filter: searchLocationText">{{state}}</li>
                      </ul>
                   </div>
                 </div>
              </div>
          </div>
        </div>
      </div>
      <div class="main-content row">
        <!-- this is for the content in the container -->
         <div class="left-container col-md-4">
           <img ng-show="showLoader" class="loader-gif" src="../images/ring-alt.svg"/>
           <div class="ring-panel-group" ng-repeat="item in listItems track by $index">
             <div class="ring-panel" ng-click="displayRingPanelOverlay(item)">
               <div class="ring-panel-content" data-target="#ring-desc_[[::$id}}">
                 <h4>
                    <img ng-if="item.isRing" ng-src="../images/default_ring_0.png"/>
                    <img ng-if="item.isGrubbery" ng-src="../images/default_ring_1.png"/>
                      <div class="ring-panel-title-text">
                        <b>{{ item.name }}</b>
                    </div>
                 </h4>
               </div>
             </div>
           </div>
      
        </div>
        <div class="right-container col-md-4">
          
          <div id="map"></div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  
                      <!--<div id="ring-desc_{{::$id}}" class="panel-collapse collapse">-->
                      <!--  <div class="panel-body">-->
                      <!--    {{ ring.addr }}-->
                      <!--  </div>-->
                      <!--</div>-->
</header>


<!--<ng-include src=" 'partials/template.html' "></ng-include>-->

<!--<div class = "dash-heading" style="padding-top:0px">-->
<!--  Don't be  a loser, find a Ring to join!-->
<!--</div>-->
  
<!--<table id="mapContainerTable">-->
<!--  <tr>-->
<!--    <td>-->
<!--      <div id="map"></div>-->
<!--    </td>-->
<!--    <td>-->
<!--      <div id="mapList" style="background-color:white; opacity:0.4; z-index:-1;"></div>-->
<!--      <div id="mapList">-->
<!--         <div class="panel-group" ng-repeat="ring in nearbyRings" style="margin-bottom:0px">-->
<!--            <div class="panel panel-default" >-->
<!--              <div class="panel-heading" data-toggle="collapse" data-target="#ring-desc_{{::$id}}">-->
<!--                <h4 class="panel-title">-->
<!--                  <img ng-src="../images/default_ring_0.png" style="float:left;" width="50" height="50"/>-->
<!--                    <div class="ring-panel-title-text">-->
<!--                      <b>{{ ring.name }}</b>-->
<!--                      <span style="float:right;" class="glyphicon glyphicon-chevron-down down-icon"></span>-->
<!--                      <br>{{ring.firstName}} {{ring.lastName}}-->
<!--                    </div>-->
<!--                </h4>-->
<!--              </div>-->
<!--                <div id="ring-desc_{{::$id}}" class="panel-collapse collapse"> <!--{{::$id}} provides a unique id for each div -->-->
<!--                  <div class="panel-body">-->
<!--                    {{ ring.addr }}-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div> -->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->