
  <img class="logo" src="../images/grublogo.png"></img>
 <div class="login-form" id="login-form">
     
    
        <form ng-submit="submit()" id="login-form">
            <div class="form-group">
                <input type="text" name="username" id="username" ng-model="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" ng-model="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
            </form>
            <p><a href="/auth/facebook" >Log in with Facebook</a></p>
            <p>Don't have an account? <a href="../partials/registration.html" class="register-link">Register now!</a></p>
            
    </div>
   
   <footer class="login-form-footer">
       <p><a href="#">Terms of Service</a>      <a href="#">Privacy Policy</a></p>
   </footer>
    

    

