
<div id="fullpage">
    <div class="section " id="section0">
        <img class="logo" src="../images/grublogo.png"></img>


        <div class="login-form" id="login-form">

            <form ng-submit="submit()" id="login-form">
                <div class="form-group">
                    <input type="text" name="username" id="username" ng-model="email" class="form-control" placeholder="E-mail Address">
                </div>
              <div class="form-group">
                    <input type="password" name="password" id="password" ng-model="password" class="form-control" placeholder="Password">
                </div>
                <p2 ng-show="displayMsg1">You have entered an incorrect password.</p2><br>
               <p2 ng-show="displayMsg2">{{loginAttemptMsg}}</p2>
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in" ng-disabled="!password">
            </form>
            <p><a href="/auth/facebook" >Log in with Facebook   </a> | <a href="begin_password_reset">  Forgot your password?</a></p>
            <p>Don't have an account? <a href="begin_register" class="register-link">Register now!</a></p>

        </div>

        <footer class="login-form-footer">
            <p><a href="#">Terms of Service</a>  <a href="#">Privacy Policy</a></p>
        </footer>
    </div>
    <!--<div class="section" id="section1">-->
    <!--    <div class="intro">-->
    <!--        <img src="../images/1.png"></img>-->
    <!--        <h1>This is the first slide!</h1>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="section" id="section2">-->
    <!--    <div class="intro">-->
    <!--        <img src="../images/2.png"></img>-->
    <!--        <h1>This is the second slide!</h1>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="section" id="section3">-->
    <!--    <div class="intro">-->
    <!--        <img src="../images/3.png"></img>-->
    <!--        <h1>This is the third slide! Let's start over.</h1>-->
    <!--    </div>-->
    <!--</div>-->
</div>

 
 
 
 


    

