<div class="col-sm-8 col-sm-push-2" id="profile">
    <h3 class="text-center">Profile Page</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Name: {{user.firstName}} {{user.lastName}}</p>
                        </div>
                        <div class="col-sm-6">
                            <p>Username: {{user.username}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <p>Email address: {{user.emailAddr}}</p>
                        </div>
                        <div class="col-sm-6">
                            <p>Cell phone number: {{user.cellPhone}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Change email address</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="updateEmail()">
                        <div class="form-group">
                            <label class="control-label">New email <span>*</span></label>
                            <input type="email" ng-model="newEmail" class="form-control" placeholder="example@grubbring.com" required>
                        </div>
                        <button type="submit" class="btn btn-green">Update email address</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Change cell phone number</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="updateCellNumber()">
                        <div class="form-group">
                            <label class="control-label">New cell phone number <span>*</span></label>
                            <input type="text" ng-model="newCell" class="form-control" placeholder="2025550125" required>
                        </div>
                        <button type="submit" class="btn btn-green">Update cell phone number</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Change password</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="updatePassword()">
                        <div class="form-group">
                            <label class="control-label">New password <span>*</span></label>
                            <input type="password" ng-model="newPassword" class="form-control" placeholder="New password" required>
                        </div>
                        <div class="progress" style="margin-top:10px">
                            <div class="progress-bar"
                                 ng-class="{'progress-bar-success': isPasswordStrong(), 'progress-bar-warning': isPasswordOk(), 'progress-bar-danger': isPasswordWeak()}"
                                 aria-valuenow= "{{ passwordStrength }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width:{{ passwordStrength }}%">
                            </div>
                        </div>
                        <p>{{ strengthMessage }}</p>
                        <div class="form-group">
                            <label class="control-label">Confirm new password <span>*</span></label>
                            <input type="password" ng-model="confirmPassword" class="form-control" placeholder="Confirm new password" required>
                        </div>
                        <button type="submit" class="btn btn-green">Update password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>