<div class="reg-page-header">
	<h2>Become a</h2>
	<h1>Grublord!</h1>
</div>


<div class="reg-page-body">
    <h2>Registration Page</h2>
	<form ng-submit="submit()" >
		<p>Phone Number: <input type = "number" name="phonenumber" placeholder="Enter phonenumber" ng-model="phonenumber"><br /></p>
		<p>First Name: <input type = "text" name="firstname" placeholder="Enter firstname" ng-model="firstname"><br /></p>
		<p>Last Name: <input type = "text" name="lastname" placeholder="Enter lastname" ng-model="lastname"><br /></p>
		<p>Username: <input type = "text" name="username" placeholder="Enter username" ng-model="username"><br /></p>
		<p>E-mail: <input type = "text" name="email" placeholder="Enter email" ng-model="email"><br /></p>
		<p>Password: <input type = "password" name="password" placeholder="Enter password" ng-model="password"><br /></p>
		<br />
		<input type="submit" value="Registration">
	</form>
</div>