<div class="reg-page-header-shadow">
	<div class="reg-page-header">
		<h2>Become a</h2>
		<h1>Grublord!</h1>
	</div>
</div>

<div class="reg-page-body">
    <h3>Fill in your information below to create an account and start connecting to Grubbrings!</h3>
	<form ng-submit="register()" class="reg-page-form">
	    <div class="form-group">
	    	<p>First Name: <input type = "text" name="firstname" placeholder="First name" ng-model="firstname" ng-disabled="isFNDisabled" class="form-control"></p>
		</div>
		<div class="form-group">
			<p>Last Name: <input type = "text" name="lastname" placeholder="Last name" ng-model="lastname" ng-disabled="isLNDisabled" class="form-control"></p>
		</div>
		<div class="form-group">
			<p>E-mail: <input type = "text" name="email" placeholder="E-mail" ng-model="email" ng-disabled="isEmailDisabled" class="form-control"></p>
		</div>
		<div class="form-group">
			<p>Phone Number: <input type = "number" name="phonenumber" placeholder="Phone number" ng-model="phonenumber" ng-disabled="isPNDisabled" class="form-control"></p>
		</div>	
		<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" ng-disabled="isSubmitDisabled" value="Registration">
		<div class="form-group">
			<p>{{ userExistsMsg }}</p>
		</div>	
	</form>
</div>

<!--<modal title="Error" id="err-msg" visible="showModal">-->
<!--	<p>There is an account already registered under that e-mail address!</p>-->
<!--</modal>-->