<div class="password-reset">
    <h2>Reset Password</h2>
    <div class="password-reset-form" id="password-reset-form">
        <form ng-submit="submit()" id="password-reset-form">
            <div class="form-group">
                <p2>Enter new password</p2>
                <input ng-required=true type="password" name="newPassword" id="newPassword" ng-model="newPassword" class="form-control" placeholder="">
                <div class="progress" style="margin-top:10px">
                    <div class="progress-bar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="0"
                        style="width:0%">
                        
                    </div>
                </div>
                
                <p2>Re-enter new password</p2>
                <input ng-required=true type="password" name="retypenewPassword" id="retypenewPassword" ng-model="retypenewPassword" class="form-control" placeholder="">

            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" ng-disabled="isDisabled" value="Submit">
        </form>
    </div>
</div>