<!--Basic template for html pages containing nav bar and other common elements. Use and modify when needed.-->


<header class="cd-main-header">
    <div class="dashboard-container">
        <div class="dashboard-header">
            <div class="vline"><p></p></div>
            <div class="dropdown">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"></span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">My Rings</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

	
<!--		<div class="cd-search is-hidden">-->
<!--			<form action="#0">-->
<!--				<input type="search" placeholder="Search...">-->
<!--			</form>-->
<!--		</div> <!-- cd-search -->

<!--		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>-->

<!--		<nav class="cd-nav">-->
<!--			<ul class="cd-top-nav">-->
<!--				<li class="has-children account" uib-dropdown>-->
<!--					<a href="#0" uib-dropdown-toggle>-->
<!--						<img src="images/cd-avatar.png" alt="avatar">-->
<!--						Account-->
<!--					</a>-->

<!--					<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">-->
<!--						<li role="menuitem"><a href="/profile">Edit Profile</a></li>-->
<!--						<li role="menuitem"><a href="#0">Settings</a></li>-->
<!--					    <li role="menuitem"><a href="#0">Logout</a></li>-->
<!--					</ul>-->
<!--				</li>-->
			
			

<!--			</ul>-->
<!--		</nav>-->
<!--	</header> <!-- .cd-main-header -->
<!--</div>-->
	
<!--<script src="js/jquery-2.1.4.js"></script>-->
<!--<script src="js/jquery.menu-aim.js"></script>-->
<!--<script src="js/main.js"></script> <!-- Resource jQuery -->

