<!--Basic template for html pages containing nav bar and other common elements. Use and modify when needed.-->


<nav ng-controller="TemplateCtrl">
    <!--<div class="hamburger-menu-icon">-->
    <!--<a id="nav-toggle" href="#"><span></span></a>-->
    <!--</div>-->
    <div class="left-navigation-menu">
        <a class="blah" href="/dashboard"><img src="../images/grubgreenlogo.png"></a>
        <ul class="navigation-links">
            
           <div class="nav-link-underline"><li><a href="#">Rings I Own</a></li></div>
            <div class="nav-link-underline"><li><a href="#">My Activities</a></li></div>
            <div class="nav-link-underline"><li><a href="#">Create a Ring</a></li></div>
            <div class="nav-link-underline"><li><a href="#">Create an Activity</a></li></div>
            <div class="nav-link-underline"><li><a href="#">Settings</a></li></div>
            <div class="nav-link-underline"><li><a href="/login">Logout</a></li></div>
        </ul>
    </div>
    <!--<div class="nav-logo">-->
    <!--    <a href="/dashboard"><img src="../images/grublogomini.png"></img></a>-->
    <!--</div>-->
    <div class="nav-search-bar">
     
     <form ng-submit="searchBox()">
  <input type="text" autocomplete="off" ng-model="search" />
  <div class="after"></div>
  <input type="submit" />
</form>
<h4>&nbsp;</h4>
</nav>