<!--Basic template for html pages containing nav bar and other common elements. Use and modify when needed.-->
<nav ng-controller="TemplateCtrl">
    <div class="hamburger-menu-icon">
    <a id="nav-toggle" href="#"><span></span></a>
    </div>
    <div class="nav-logo">
        <a href="/dashboard"><img src="../images/grublogomini.png"></img></a>
    </div>
    <div class="nav-search-bar">
      <input id="search-box" type="text" class="search-box" name="q" placeholder="search..." ng-model="search" ng-change="searchBox()" />
      <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
    </div>
</nav>